<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.user.adapter.outbound.MatchMapper">
    <select id="findAllMatch" resultType="MatchDTO">
        select * from design20.match
    </select>

    <select id="findDetailMatch" resultType="MatchDTO">
        select * from design20.match where match_id = #{match_id}
    </select>
</mapper>